# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
prog
studFail.txt
studPass.txt
studentai1M.txt
test
test2
.DS_Store
.gitignore
.gitignore
studentai10M.txt
studentai10.txt
studentai10k.txt
studentai100k.txt
studentai1k.txt
test.dSYM/Contents/Info.plist
.gitignore
.vscode/launch.json
output/functions
prog.dSYM/Contents/Info.plist
temp.dSYM/Contents/Info.plist
temp.dSYM/Contents/Resources/DWARF/temp
